# Python cache files
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environment
myenv/

# Environment variables
.env

# VSCode settings
.vscode/

# Data folders (optional)
data/

postgres_data/

# bat files
*.bat